<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jimmysun.appbadge"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 华为 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 三星 -->
    <!--<uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>-->
    <!--<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>-->
    <!-- OPPO -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <!-- 联想ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jimmysun.appbadge.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>